<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDj89u-PiG-K9I0iOPQF1_UhMufk9NQSHk</string>
	<key>GCM_SENDER_ID</key>
	<string>255918430125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zenchat</string>
	<key>PROJECT_ID</key>
	<string>zenchat-7e313</string>
	<key>STORAGE_BUCKET</key>
	<string>zenchat-7e313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255918430125:ios:48bdbef829aea494897324</string>
</dict>
</plist>